# package directories
node_modules
jspm_packages
venv

# Serverless directories
.serverless
.serverless_nextjs
.env
.next
.python-version

# Build folders
/ui/build/
/ui/dist/
*.pyc
*.egg-info
*.swo
*.swp
.venv
.lambda
*.zip

# Random Bits
.DS_Store
